<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCnyTH38-jQwsfYh7ga__7FitxMyIMzI7g</string>
	<key>GCM_SENDER_ID</key>
	<string>196237056840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.plantaera</string>
	<key>PROJECT_ID</key>
	<string>plantaera-98ea9</string>
	<key>STORAGE_BUCKET</key>
	<string>plantaera-98ea9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:196237056840:ios:bc5ce60df25ebecc57717d</string>
</dict>
</plist>